<app-navbar>loading...</app-navbar>
<div class="text-center">
<button class="btn refresh" (click)="onRefresh()">REFRESH</button></div>

<hr>
<form (ngSubmit)="onSave(f)" #f="ngForm" >
<div>
    <table id="userTable" class="table table-hover" >
        <caption>This is the table of customers</caption>
        <thead class="thead-light thead">
    <th scope="col">Customer ID</th>
    <th scope="col">Customer Name</th>
    <th scope="col">Website</th>
    <th scope="col">Address</th>
    <th scope="col">Created On</th>
    <th scope="col">Modifies On</th>
    <th scope="col"></th>
    <th scope ="col"></th>
    </thead>
    <tbody id="userTableBody">
        <tr *ngFor = "let customer of customerData">
            <ng-container *ngIf = "checkCondition(customer.customerId); else elseBlock">
                <td>{{customer.customerId}}</td>
                <td><input class="form-control" type="text"
                     ngModel="{{customer.name}}"
                     name="name"
                     required
                     ></td>
                <td><input class="form-control" type="text" 
                    ngModel="{{customer.website}}"
                    name="website"
                    required
                    ></td>
                <td><input class="form-control" type="text" 
                    ngModel="{{customer.customerAddress}}"
                    name="customerAddress"
                    required
                    ></td>
                <td>{{customer.customerCreatedOn}}</td>
                <td>Auto Updated</td>
    <td>
                <button class="btn btn-primary" type="submit">SAVE</button> </td>
               <td>     <button class="btn btn-warning" (click)='onCancel()'>CANCEL</button></td>
            </ng-container>
            <ng-template #elseBlock>
            <td >{{customer.customerId}}</td>
            <td >{{customer.name}}</td>
            <td >{{customer.website}}</td>
            <td >{{customer.customerAddress}}</td>
            <td>{{customer.customerCreatedOn}}</td>
            <td>{{customer.customerModifiedOn}}</td>
            <td> <button class="btn btn-warning" id="edit{{customer.customerId}}" (click)='onEdit(customer.customerId)'>EDIT</button> </td>
               <td> <button class="btn btn-danger" (click)='onDelete(customer.customerId)'>DELETE</button>
                                        </td>
                                    </ng-template>
        </tr>
    </tbody>
    </table>
    </div>
</form>
<app-add-data>loading...</app-add-data>
